*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-end .navbar-item{
    font-size: 14px;
}    
nav .button{
    background-color: #f39200;;
}
.title.is-size-2{
color: #444f60;
}
.columns.is-vcentered {
    max-width: 90%;
    margin-left: 5%;
}

#skyblue{
    background-color:#4fc1ea ;
    border-color: #4fc1ea;
}
#margin-bottom{
    margin-bottom: 150px;
}
#blue-btn{
    background-color: #4fc1ea;
}
.border{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px auto;
    color: #6a7b96;
    transition: all .4s;
}
.border:hover{
    transform: translateY(-6px);
    color: #f39200;

}
.backimg{
    background-image: url(background.jpg);
}
#rounded{
    border-radius: 50%;
    z-index: 2;
}
blockquote::before{
    content: '"';
    position: relative;
    right: 5px;
    bottom: 10px;
    font-size: 30px;
    color: gray;
}
#flex{
    position: relative;
    top: 50px;
}
#back-color{
    background-color: #EFF4F7;
}

#footer-dark{
    background-color: #444F60;
}
#list-color{
    color: #98a9c3;
}
#icon-hover{
    color: #f39200;
    transition: all .5s;
}
#icon-hover:hover{
    color: white;

}
.img{
    max-width: 100%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-right: 5px;
    display: block;
    z-index: 1;
    position: absolute;
    right: 60%;
    top: -15px
}
.h3{

    font-weight: 600;
    font-size: 1.2rem;
    color: #444f60;
    position: absolute;
    left: 40%;
    
}
.position{
    position: relative;
}
.span{
    position: relative;
    top: 25px;
    left: 40%;
}
#box-shadow{
    transition: all 0.5s;
    
}
#box-shadow:hover{
    opacity: 0.6;
}


.top-button {
    display: flex;
    justify-content: flex-end;

}

#top-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: #66676b;
    /* border-radius: 4px; */
    position: fixed;
    z-index: 5;
  
}
#top-button:hover{
    background-color: #f39200;
    color: white;
}